/* CSS reset */
* {
  margin: 0;
  padding: 0;
}

/* Root variables */

:root {
  --red: #ff0000;
  --White: #ffffff;
}

/* General Header styling */

header {
  display: flex;
  align-content: space-between;
  background-color: var(--red);
}

header figure {
  max-width: 20%;
}

header figure img {
  padding: 1%;
  width: 100%;
}

/* Header Nav styling */

header nav {
  align-items: center;
  display: flex;
  margin-left: 67%;
}

header nav a {
  display: none;
  color: var(--White);
  font-weight: bold;
  text-decoration: none;
}

.mobilemenu {
  margin-top: 20%;
  width: 50px;
  height: 100%;
}

header nav input {
  margin-top: -100%;
  display: none;
}

header nav .mobilemenu img {
  width: 95%;
}

/* Global Styling */

main figure img {
  width: 100%;
}
